<div class="row">
    <div class="col-12 col-md-6">
        <img src="/images/office-girl.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-12 col-md-6 ">
        <h1><i class="bi bi-journal"></i> Register</h1>
        <form action="/users/create" method="post" class=" mt-5 mb-5 ">
            <div class="mb-5">
                <label for="name" class="form-label"><i class="bi bi-person"></i> Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter you name" required>
            </div>
            <div class="mb-5">
                <label for="email" class="form-label"><i class="bi bi-envelope"></i> Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter you email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label"><i class="bi bi-upc-scan"></i> Password</label>
                <input type="password" class="form-control" id="password" name="password"
                    placeholder="Enter your password" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label"><i class="bi bi-upc-scan"></i> Confirm Password</label>
                <input type="password" class="form-control" id="password" name="confirmPassword"
                    placeholder="Enter your password" required>
            </div>
            <p>Already resgistered? <a href="/users/signin" class="my-form-redirection">Login</a></p>
            <button type="submit" class="btn my-btn">Register</button>
        </form>
    </div>

</div>